.product{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.product .inner-item{
    width: calc(100%/5 - 40px);
    border: 1px solid black;
    position: relative;
    margin-bottom: 30px;
}
.product img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    margin-bottom: 15px;
}
.product .inner-item .inner-price{
    margin-bottom: 15px;
}
.product .inner-item .inner-price span{
    font-weight: 600;
    font-size: 20px;
}
.product .inner-brand{
    margin-bottom: 10px;
}
.product .inner-brand span{
    font-weight: 600;
    font-size: 30px;
    color: red;
}
.product .inner-giamgia{
    position: absolute;
    top: 10px;
    right: 10px;
    color: blue;
    padding: 10px;
    border-radius: 50%;
    background: yellow;
}
.phantrang{
    margin-top: 10px;
    margin-left: 20px;
    display: inline-flex;
    width: 200px;
    justify-content: space-between;
}
.phantrang span{
    font-size: 35px;
    font-weight: 600;
}
.phantrang .chuyen{
    background-color: yellow;
    color: white;
    cursor: pointer;
}
.phantrang #prev{
    color: red;
}
.phantrang #next{
    color: gray;
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.categories .item{
    width: calc(100%/6 - 40px);
    border-radius: 8px;
    padding: 10px;
    background-color: yellow;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}